*{
    margin: 0;
padding: 0;
}

.cabeçalho{
    background-color: white;
color: black;
display: flex;
justify-content: space-around;
align-items: center;
padding: 24px 0;
}
.foto{
    width: 20%;
}
.braços{
    background-color: white;
color: black;
}